# Local config / data
.vscode/
.aws-sam/
*.json
!sources.example.json
!filterKeywords.example.json

# Logs
*.log

# Secrets / env
.env
*.env

# Compiled binaries
/JobFinder
*.exe
*.out


# OS cruft
.DS_Store
Thumbs.db

# env file
.env

# prompt/resume
*.md
!instructions.example.md
!README.md
*.txt